

/*header*/
header{
    background: url(images/central_park.jpg) 0 -200px no-repeat;
    background-size: 1500px;
    /*background-position: 0 -200px;*/
    /*background-repeat: no-repeat;*/
    height: 300px;
    padding-top:100px;
    padding-left:100px;
}




/*body nav*/
li{
    list-style-type: none;  /*remove the bullet point dots*/
    display:inline;    /*make the menu items in one line instead of horizontally layout*/
    padding: 0 20px; 
}

nav li a:link{      /*this means (nav >> li >> a) to navigate the <a> under the <li> and under the <nav> to instead of build an ID, in case we have more mulitple <a> with different styles.*/
    color:#000000; /*a:link means before clicked the link*/
}

nav li a:visited{    /*a:visited means after clicked the link*/
    color:#818db3; 
}

nav li a:hover{     /*a:hover means mouse is hovering on the link */
    color:#753a30;
}

nav{
    background-color: rgb(245, 235, 225);
    height:50px;
    text-align:center;
    padding-top: 2px;
}


/*body main*/
main{
    height: 400px;
}
main h1 {
    color:rgb(129,141,179);
    font-family: Arial, Helvetica, sans-serif;
}




/*body footer*/
footer{
    height:40px;
    background-color:rgb(129,141,179);
    text-align:center;
    padding-top: 20px;
    color:rgb(211, 218, 240);
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
}