/* Reset Default Styles */
* {
	font-family: arial;
	padding:0; 
	margin:0;
}

/* Challenge Custom Styles */

/* Use these colors for the challenge:

header and footer background color - #babaff - Done
main background color - #f0f8ff - Done
global navigation background color - #00f - Done
footer navigation background color - #00f - Done
navigation hover color - #ff9600 - Done
main heading font color - #001a63 - Done
main font color - #707070 - Done

*/

/* Container */
#container {
	width:800px;
	border: 1px solid #999;
	background-color:#fff;
	margin: 4px;
}

/* Header */ 
header {
	height: 120px;
	background:url(images/gclogo.png) no-repeat;
	background-position: 0 12px;
}



header, footer {
	background-color: #babaff;
	border-style: solid;
	border-color: #00f;
	border-width: 2px;
	margin: 4px;
}

/* Main */
main {
	width: 75%;
	padding:15px;
	margin-bottom:4px;
	margin-top:4px;
	margin-right:4px;
	float:right;
	background-color: #f0f8ff;
	width: 600px;
}
main h2 {
	font-size: 18px; 
	font-weight: bold;
	color:#001a63;
	margin:10px 0; 
}

main p{
	font-size: 16px;
	font-weight: 500;
	color: #707070;
	
}

/* Global Navigation */
.globalNav {
	float:left; 
	width:20%; 
	/*border:1px solid #00f; 
	border-bottom:none; */
	margin-top:4px;
	margin-left:4px;
}

/*.globalNav ul {}*/

.globalNav ul li {
	display: block;
	border-bottom:1px solid #fff;
	background-color: #00f;
	
}
.globalNav ul a { 
	font-size: 15px;
	font-weight: bold;
	padding-left: 4px;
	text-decoration:none; 
	color: #fff;
}
.globalNav ul a:hover {
	color:#ff9600;
}

[src="images/gcimage.png"] {
	float:right;
}

/* Footer */
footer {
	clear:both;
	background-color: #babaff;
	height: 90px;
	padding-bottom: 30px;
	border-style: solid;
	border-color: #00f;
	border-width: 2px;
	/*padding-top: 20px;*/
	
}
footer p {
	text-align: center;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	color: rgb(59, 59, 97);
	padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

.footerNav {
	
	text-align: center;
	background:#00f;
	margin-top: 20px;
	height: 25px;
}

.footerNav li {
	display: inline;
	border-left:1px solid #ffffff;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
	font-size:14px;
}
.footerNav li:first-child {
	border-left:none;
}
.footerNav a {
	color:#fff; 
	font:normal bold 14px; 
	text-decoration:none;
}
.footerNav a:hover {
	color:#ff9600;
}























